.board {
    display: grid;
    grid-template-areas: 
        "tile-0  tile-1  tile-2  tile-3  tile-4  tile-5  tile-6  tile-7  tile-8  tile-9  tile-10"
        "tile-39 .       .       .       .       .       .       .       .       .        tile-11"
        "tile-38 .       .       .       .       .       .       .       .       .        tile-12"
        "tile-37 .       .       .       .       .       .       .       .       .        tile-13"
        "tile-36 .       .       .       .       .       .       .       .       .        tile-14"
        "tile-35 .       .       .       .       .       .       .       .       .        tile-15"
        "tile-34 .       .       .       .       .       .       .       .       .        tile-16"
        "tile-33 .       .       .       .       .       .       .       .       .        tile-17"
        "tile-32 .       .       .       .       .       .       .       .       .        tile-18"
        "tile-31 .       .       .       .       .       .       .       .       .        tile-19"
        "tile-30 tile-29 tile-28 tile-27 tile-26 tile-25 tile-24 tile-23 tile-22 tile-21 tile-20";
    grid-gap: 2px;
}

.tile {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.position-0 { grid-area: tile-0; }
.position-1 { grid-area: tile-1; }
.position-2 { grid-area: tile-2; }
.position-3 { grid-area: tile-3; }
.position-4 { grid-area: tile-4; }
.position-5 { grid-area: tile-5; }
.position-6 { grid-area: tile-6; }
.position-7 { grid-area: tile-7; }
.position-8 { grid-area: tile-8; }
.position-9 { grid-area: tile-9; }
.position-10 { grid-area: tile-10; }
.position-11 { grid-area: tile-11; }
.position-12 { grid-area: tile-12; }
.position-13 { grid-area: tile-13; }
.position-14 { grid-area: tile-14; }
.position-15 { grid-area: tile-15; }
.position-16 { grid-area: tile-16; }
.position-17 { grid-area: tile-17; }
.position-18 { grid-area: tile-18; }
.position-19 { grid-area: tile-19; }
.position-20 { grid-area: tile-20; }
.position-21 { grid-area: tile-21; }
.position-22 { grid-area: tile-22; }
.position-23 { grid-area: tile-23; }
.position-24 { grid-area: tile-24; }
.position-25 { grid-area: tile-25; }
.position-26 { grid-area: tile-26; }
.position-27 { grid-area: tile-27; }
.position-28 { grid-area: tile-28; }
.position-29 { grid-area: tile-29; }
.position-30 { grid-area: tile-30; }
.position-31 { grid-area: tile-31; }
.position-32 { grid-area: tile-32; }
.position-33 { grid-area: tile-33; }
.position-34 { grid-area: tile-34; }
.position-35 { grid-area: tile-35; }
.position-36 { grid-area: tile-36; }
.position-37 { grid-area: tile-37; }
.position-38 { grid-area: tile-38; }
.position-39 { grid-area: tile-39; }

.player {
    font-weight: bold;
    color: red;
}
