.player-info {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    text-align: center;
    width: 150px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.player-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
}


.player-info h2 {
    margin-top: 0;
}

.player-info button {
    display: block;
    margin: 10px 0;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.player-info button:hover {
    background-color: #0056b3;
}
.player-info {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    text-align: center;
}

.player-info .player-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
}
